You've requested to reset your password

Please go to the following URL to enter your new password:


{% autoescape off %}
    {{ protocol }}://{{ domain }}/reset-password/confirm/{{ uid }}/{{ token }}/
{% endautoescape %} 

<!-- En este ejemplo, {{ protocol }} y {{ domain }} son variables que representan el protocolo y el dominio de tu aplicación,
mientras que {{ uid }} y {{ token }} son los valores proporcionados por Django para identificar de forma única el
usuario y el token de restablecimiento de contraseña.
Al utilizar {% autoescape off %} y {% endautoescape %}, estás desactivando el escape automático de HTML para que el
enlace se genere como una URL válida.
Al construir el enlace de esta manera, estarás generando un enlace válido que los usuarios pueden utilizar para
confirmar y completar el restablecimiento de su contraseña. -->